.DS_STORE 

## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

.build/

# Tests/Workspace
STEPN SidekickTests
STEPN SidekickUITests
STEPN Sidekick.xcodeproj
STEPN Sidekick.xcworkspace

# Pods
Pods
Podfile
Podfile.lock

# Ad stuff
MainAd.swift
STEPN-Sidekick-Info.plist
Info.plist
